// General
@keyframes fadeOut{
    0%{
        scale: 1;
        opacity: 1;
    }
    50%{
        scale: 0.8;
        opacity: 0;
    }
    100%{
        scale: 0.8;
        opacity: 0;
    }
}
@keyframes fadeIn{
    0%{
        scale: 0.8;
        opacity: 0;
    }
    50%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
// Page => index
@keyframes rocketEffect{
    0%{
        transform: translateY(-50%) translateX(50%);
    }
    50%{
        transform: translateY(-45%) translateX(50%);
    }
    100%{
        transform: translateY(-50%) translateX(50%);
    }
}
@keyframes cloudEffect{
    0%{transform: translateX(0%) translateY(1%);}
    5%{transform: translateX(1%) translateY(1%);}
    10%{transform: translateX(2%) translateY(2%);}
    15%{transform: translateX(3%) translateY(3%);}
    20%{transform: translateX(4%) translateY(4%);}
    25%{transform: translateX(4%) translateY(5%);}
    30%{transform: translateX(4%) translateY(6%);}
    35%{transform: translateX(3%) translateY(7%);}
    40%{transform: translateX(2%) translateY(8%);}
    45%{transform: translateX(1%) translateY(9%);}
    50%{transform: translateX(0%) translateY(9%);}
    55%{transform: translateX(-1%) translateY(9%);}
    60%{transform: translateX(-2%) translateY(8%);}
    65%{transform: translateX(-3%) translateY(7%);}
    70%{transform: translateX(-4%) translateY(6%);}
    75%{transform: translateX(-4%) translateY(5%);}
    80%{transform: translateX(-4%) translateY(4%);}
    85%{transform: translateX(-3%) translateY(3%);}
    90%{transform: translateX(-2%) translateY(2%);}
    95%{transform: translateX(-1%) translateY(1%);}
    100%{transform: translateX(0%) translateY(1%);}
}
// Component => Button
@keyframes buttonBorder {
    0% {
        background-position: 0% 25%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 25%;
    }
}
// Component => InputRadio
@keyframes radioImage {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(5px);
    }
}
// Component => InputRange
@keyframes thumbRangeShine {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}
// Component => InputStacks
@keyframes touchKeyBoard {
    0% {
        scale: 1;
    }
    50% {
        scale: 0.8;
    }
    100% {
        scale: 1;
    }
}
// Spinner
#spinner {
    display: block;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-top-color: #010B14;
    box-shadow: 0 0 5px #2e79af;
    border-radius: 50%;
    -webkit-animation: spin9 1.5s ease infinite;
            animation: spin9 1.5s ease infinite;
}

#spinner:before {
content: "";
position: absolute;
top: 7px;
right: 7px;
bottom: 7px;
left: 7px;
border: 2px solid transparent;
border-radius: 50%;
border-top-color: #010B14;
box-shadow: 0 0 5px #2e79af;
-webkit-animation: spin9_x 1s linear infinite;
        animation: spin9_x 1s linear infinite;
}

#spinner:after {
content: "";
position: absolute;
top: 15px;
right: 15px;
bottom: 15px;
left: 15px;
border: 2px solid transparent;
border-radius: 50%;
border-top-color: #010B14;
box-shadow: 0 0 5px #2e79af;
-webkit-animation: spin9 1.5s linear infinite;
        animation: spin9 1.5s linear infinite;
}

@-webkit-keyframes spin9 {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
}
}
@keyframes spin9 {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
}
}
@-webkit-keyframes spin9_x {
0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}
100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
}
}
@keyframes spin9_x {
0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}
100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
}
}