@import "./colors.scss";
@import "./animation.scss";
@import '~/node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

// General CSS
html{
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    & body{
        width: 100%;
        margin: 0;
        display: flex;
        background: $background no-repeat center center;
        & #__nuxt{
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-image: url('/img/background.png');
            background-position: 50% 50%;
            background-size: 100%;
            background-repeat: no-repeat;
            color: $light;
        }
    }    
}
*{
    box-sizing: border-box;
    font-family: "Barlow";
}
.container, .container-fluid, .row, [class~=col-]{
    transition: all 0.15s ease-in-out;
}

// Font classes
.title-l{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.title-m{
    font-size: 26px;
    line-height: 31px;  
    font-weight: 700;  
}
.title-s{
    font-size: 20px;
    line-height: 24px; 
    font-weight: 700;   
}
.text-l{
    font-size: 26px;
    line-height: 31px; 
    font-weight: 500;
    text-transform: uppercase;  
}
.text-m{
    font-size: 20px;
    line-height: 24px; 
    font-weight: 500;   
}
.text-s{
    font-size: 15px;
    line-height: 20px; 
    font-weight: 500;   
}

// Color Classes
.text-grey{
    color: $grey;
}

// Animation class
.fade-in{
    animation: fadeIn 2s ease-in-out;
}
.fade-out{
    animation: fadeOut 2s ease-in-out;
}
.fade-in-scale{
    animation: fadeInAndScale 2s ease-in-out;
}
.fade-out-scale{
    animation: fadeOutAndScale 2s ease-in-out;
}

// General design
input{
    height: 52px;
    font-size: 20px;
    color: $light;
    background-color: rgba($light, 0.3);
    border: none;
    border-radius: 10px;
    padding: 12px 18px;
    &:placeholder-shown{
        font-size: 20px;
        color: $grey;
    }
    &:focus{
        outline: none
    }
    &:disabled{
        color: rgba($light, 0.7);
    }
}