// Import bootstrap & colors
@import "./bootstrap.scss";
// Import font
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

body, html, #__nuxt{
    width: 100%;
    height: 100%;
    margin: 0;
    background: $background;
    color: $light;
}
*{
    box-sizing: border-box;
    font-family: "Barlow";
    font-weight: 500;
}