<h1>Bienvenue {{ user.firstname }}!</h1>

<p>
    Voici vos identifiants pour connecter sur le <a href="{{website_url}}">site</a> : 
    <ul>
        <li> Identifiant : {{user.email}}</li>
        <li> Mot de passe : {{plainPassword}}
</p>