<h1>Bienvenue {{ user.firstname }}!</h1>

<p>
<br>
Bonjour {{user.firstname}} {{user.lastname}},
<br>
Nous vous confirmons votre inscription sur <a href="{{website_url}}">Dev Salary Simulator</a>. 
<br><br>
Vous pouvez maintenant vous connecter à votre compte en renseignant votre adresse email ainsi que le mot de passe que vous avez renseigné.
<br><br>
Merci de votre inscription et bienvenue sur Dev Salary Simulator.
<br><br>
Cordialement.
</p>