<h1>Bienvenue {{ user.firstname }}!</h1>

<p>
    Voici votre nouveau mot de passe pour connecter sur le <a href="{{website_url}}">site</a> : 
    <ul>
        <li> Mot de passe : {{plainPassword}}
    </ul>
</p>

Cordialement